{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Ananke</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/skeleton.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />	
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" />
	<link rel="stylesheet" href="{% static 'css/flat_filled_styles.css' %}"><!--SVG Animation Styles-->
	<link rel="stylesheet" href="{% static 'css/retina.css' %}"/>
	

		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
	
</head>
<body class="royal_loader">	
	<!-- Primary Page Layout
	================================================== -->

	
	
		<div id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="sixteen columns">
					<div class="logo"></div>
					<ul class="slimmenu">
						<li> 
							<a class="scroll" href="#home">домой</a>
						</li>
						<li>
							<a class="scroll" href="#about">о нас</a>
						</li>
						<li>
							<a class="scroll" href="#work">работа</a>
						</li>
						<li> 
							<a class="scroll" href="#services">услуги</a>
						</li>
						<li> 
							<a class="scroll" href="#blog">журнал</a>
						</li>
						<li>
							<a class="scroll" href="#contact">контакты</a>
						</li>
					</ul>
				</div>
			</div>
		</div>		

		<div id="home">	
			<div class="just_pattern"></div>
			<div class="parallax-home"></div>	
			<div class="small-text"><div class="cl-effect-5"><a class="scroll" href="#work"><span data-hover="portfolio">Портфель</span></a> <a class="scroll" href="#contact"><span data-hover="contact">Контакты</span></a></div></div>
			<div class="social-top">
				<ul class="list-social">
					<li class="icon-soc tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="{{setting.twitter}}">&#xf099;</a>
					</li>
					<li class="icon-soc tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="{{setting.facebook}}">&#xf09a;</a>
					</li>
					<li class="icon-soc tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="{{setting.github}}">&#xf09b;</a>
					</li>
					<li class="icon-soc tipped" data-title="google +"  data-tipper-options='{"direction":"top","follow":"true"}'>
						<a href="{{setting.google}}">&#xf0d5;</a>
						</li>
					</ul>	
				</div>	
				<div class="big-text">
					<ul class="flippy">
						<li><span>МЫ АНАНКЕ</span></li>
						<li><span>РОЖДЕННЫЙ ДЛЯ ТВОРЧЕСТВА</span></li>
						<li><span>СОСРЕДОТОЧЕННЫЙ НА СТРАТЕГИИ</span></li>
					</ul>
				</div>								
				<a class="scroll" href="#about"><div class="scroll-btn tipped" data-title="about agency"  data-tipper-options='{"direction":"top","follow":"true"}'></div></a>
			</div>

			
			<div id="about">
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">О нас</div>
							<h1>О нас</h1>
							<p>МЫ - СПЛОЧЕННАЯ КОМАНДА КРЕАТИВЩИКОВ, ДИЗАЙНЕРОВ И РАЗРАБОТЧИКОВ, КОТОРЫЕ РАБОТАЮТ ВМЕСТЕ НАД СОЗДАНИЕМ КРАСИВЫХ И ПРИВЛЕКАТЕЛЬНЫХ ЦИФРОВЫХ РЕШЕНИЙ.</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div id="about-what-we-do">
					<div class="container">
						<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
							<div class="icon-left1">&#xf0c6;</div>
							<h5>Сетевой.</h5>
							<p>На самом деле, мы обвиняем друг друга и хотим, чтобы ты был достойным человеком..</p>
						</div>
						<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
							<div class="icon-left1">&#xf080;</div>
							<h5>Аналитика.</h5>
							<p>То, что мы видим во всеобщем, - это естественная ошибка, которая дает возможность прийти к нулю.</p>
						</div>
						<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
							<div class="icon-left1">&#xf120;</div>
							<h5>Разработка.</h5>
							<p class="padding-bottom-project">Мы временно исполняем либеро, и решения нет, и возможности нет.</p>
						</div>
					</div>
				</div>	
				<div class="video-sections">
					<div class="video-section-1">	
						<div class="just_pattern"></div>
						<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="{% static 'images/1.jpg' %}"> 
							<source src="videos/video.webm" type="video/webm"> 
							<source src="videos/video.mp4" type="video/mp4"> 
							<source src="videos/video.ogg" type="video/ogg"> 
						</video>
						<div class="text-over-video">Целый день в офисе</div>	
					</div>	
					<div class="video-section-2">	
						<div class="container">
							<div class="nine columns padding-top-video-sec2" data-scrollreveal="enter right and move 150px over 1s">
								<h5>ЧТО МЫ ДЕЛАЕМ.</h5>
								<p>Это общество, пенатибус и великий родильник монтес, насмехающийся над нами.Президент коммодо арку масса.</p>
							</div>
							<div class="clear"></div>
							<div class="nine columns" data-scrollreveal="enter right and move 150px over 1s">
								<h5>ЧЕГО МЫ ДОСТИГАЕМ.</h5>
								<p>Это общество, пенатибус и великий родильник монтес, насмехающийся над нами.Президент коммодо арку масса.</p>
							</div>
							<div class="clear"></div>
							<div class="nine columns" data-scrollreveal="enter right and move 150px over 1s">
								<h5>В КОНЦЕ</h5>
								<p>Это общество, пенатибус и великий родильник монтес, насмехающийся над нами.Президент коммодо арку масса.</p>
							</div>
						</div>
					</div>	
				</div>	
			</div>

			
			<div id="team">
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">GEEKS</div>
							<h1>Сотрудники</h1>
							<p>Сотрудники GEEKS</p>
						</div>
					</div>
				</div>
				<div class="container">	
					{% for employs in employ %}
					<div class="four columns" data-scrollreveal="enter left and move 150px over 1s">
						<div class="team-wrap">	
							<img src="{{employs.image.url}}" alt=""/>
							<h5>{{employs.name}}</h5>
							<p>{{employs.position}}</p>
							<div class="team-line"></div>
							<div class="social-team">
								<ul class="team-social">
									<li class="icon-team tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="{{employs.twitter}}">&#xf099;</a>
									</li>
									<li class="icon-team tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="{{employs.facebook}}">&#xf09a;</a>
									</li>
									<li class="icon-team tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="{{employs.github}}">&#xf09b;</a>
									</li>
									<li class="icon-team tipped" data-title="google +"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="{{employs.google}}">&#xf0d5;</a>
									</li>
								</ul>	
							</div>
						</div>
					</div>
					{% endfor %}
				</div>		
			</div>			
			
			
			<div id="sep1">	
				<div class="just_pattern"></div>
				<div class="parallax"></div>
						<div class="slideshow" id="slideshow">
							<ol class="slides">
								<li class="current">
									<div class="description">
										<h4>Наклонное слайд-шоу содержимого</h4>
										<p>Этот слайдер воспроизводит трехмерную перспективу и выполняет несколько интересных анимаций на изображениях с правой стороны.</p>
									</div>
									<div class="tiltview col">
										<a href="#"><img src="{% static 'images/1_screen.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/2_screen.jpg' %}" alt=""/></a>
									</div>
								</li>
								<li>
									<div class="description">
										<h4>CSS-анимация</h4>
										<p>Мы используем 12 различных анимаций для отображения и скрытия элементов слайда. Анимации определяются случайным добавлением данных-атрибутов, называемых <code>данные-эффект-в</code> и <code>передача данных-результат</code> для каждого слайда. </p>
									</div>
									<div class="tiltview row">
										<a href="#"><img src="{% static 'images/3_mobile.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/4_mobile.jpg' %}" alt=""/></a>
									</div>
								</li>
								<li>
									<div class="description">
										<h4>Наклоненные предметы</h4>
										<p>Перспективный вид достигается добавлением значения перспективы к элементу списка слайдов и наклоном раздела, содержащего два снимка экрана.</p>
									</div>
									<div class="tiltview col">
										<a href="#"><img src="{% static 'images/5_screen.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/6_screen.jpg' %}" alt=""/></a>
									</div>
								</li>
								<li>
									<div class="description">
										<h4>Столбец или строка</h4>
										<p>Элементы в наклонном контейнере расположены либо столбцом, либо в ряд. Для некоторых направлений нам нужно настроить задержки анимации элементов, поскольку мы не хотим, чтобы элементы накладывались друг на друга при их перемещении внутрь или наружу.</p>
									</div>
									<div class="tiltview row">
										<a href="#"><img src="{% static 'images/1_mobile.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/2_mobile.jpg' %}" alt=""/></a>
									</div>
								</li>
								<li>
									<div class="description">
										<h4>Восприимчивость</h4>
										<p>На экранах меньшего размера элементы с правой стороны станут менее прозрачными и будут использоваться только для оформления. Основное внимание будет уделено описанию, которое будет занимать всю ширину экрана..</p>
									</div>
									<div class="tiltview col">
										<a href="#"><img src="{% static 'images/3_screen.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/4_screen.jpg' %}" alt=""/></a>
									</div>
								</li>
								<li>
									<div class="description">
										<h4>Навигация</h4>
										<p>Для навигации по "линии" мы используем небольшую хитрость, чтобы увеличить область, доступную для кликов: мы добавляем толстую белую рамку сверху и снизу диапазона. Поскольку граница является частью элемента, она будет частью зоны, доступной для кликов.</p>
									</div>
									<div class="tiltview row">
										<a href="#"><img src="{% static 'images/5_mobile.jpg' %}" alt=""/></a>
										<a href="#"><img src="{% static 'images/6_mobile.jpg' %}" alt=""/></a>
									</div>
								</li>
							</ol>
						</div><!-- /slideshow -->		
			</div>			
			
			
			<div id="work">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">Работа</div>
							<h1>работа</h1>
							<p>МЫ СЧИТАЕМ, ЧТО НАША РАБОТА ГОВОРИТ САМА ЗА СЕБЯ. ОЗНАКОМЬТЕСЬ С НАШИМИ ПОСЛЕДНИМИ ПРОЕКТАМИ НИЖЕ.</p>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>
				<div class="portfolio"></div>


				<div class="expander-wrap relative">
					<div id="expander-wrap">
						<p class="cls-btn"><a class="close">X</a></p>
						<div class="expander-inner"></div>
					</div>
				</div>

			
				<div class="clear"></div>			
				<div class="container">
					<div class="sixteen columns">
						<div id="portfolio-filter">
							<ul id="filter">
								<li><a href="#" class="current" data-filter="*" title="">Показать все</a></li>
								<li><a href="#" data-filter=".photography" title="">фотография</a></li>
								<li><a href="#" data-filter=".illustration1" title="">иллюстрация</a></li>
								<li><a href="#" data-filter=".motion-graphics" title="">движущаяся графика</a></li>
								<li><a href="#" data-filter=".web-design" title="">веб-дизайн</a></li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="portfolio-wrap">
					<li class="portfolio-box photography web-design">	
						<a class="expander" href="project2.html" title="">
							<img  src="{% static 'images/gallery/1.jpg' %}" alt="" />	
							<div class="mask"></div>
							<h4>Все Время</h4>
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/1.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>	
					</li>
					<li class="portfolio-box illustration1 motion-graphics">	
						<a class="expander" href="project1.html" title="">
							<img  src="{% static 'images/gallery/2.jpg' %}" alt="" />
							<div class="mask"></div>	
							<h4>Золотой орел</h4>	
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/2.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>		
					</li>		
					<li class="portfolio-box motion-graphics photography">	
						<a class="expander" href="project3.html" title="">
							<img  src="{% static 'images/gallery/3.jpg' %}" alt="" />
							<div class="mask"></div>
							<h4>Все Время</h4>
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/3.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>				
					</li>	
					<li class="portfolio-box web-design illustration1">
						<a class="expander" href="project4.html" title="">
							<img  src="{% static 'images/gallery/4.jpg' %}" alt="" />
							<div class="mask"></div>
							<h4>Фиксированный Магнит</h4>	
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/4.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a> 			
					</li>	
					<li class="portfolio-box photography web-design">	
						<a class="expander" href="project2.html" title="">
							<img  src="{% static 'images/gallery/5.jpg' %}" alt="" />	
							<div class="mask"></div>	
							<h4>Кейтеринг</h4>
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/5.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>			
					</li>
					<li class="portfolio-box illustration1 motion-graphics">	
						<a class="expander" href="project1.html" title="">
							<img  src="{% static 'images/gallery/6.jpg' %}" alt="" />
							<div class="mask"></div>
							<h4>набор на 5-ю годовщину</h4>
						</a>		
						<a class="fancybox-effects-d" href="{% static 'images/gallery/6.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>		
					</li>	
					<li class="portfolio-box motion-graphics photography">
						<a class="expander" href="project3.html" title="">
							<img  src="{% static 'images/gallery/7.jpg' %}" alt="" />	
							<div class="mask"></div>
							<h4>La Catería</h4>
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/7.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>			
					</li>	
					<li class="portfolio-box web-design illustration1">
						<a class="expander" href="project4.html" title="">
							<img  src="{% static 'images/gallery/8.jpg' %}" alt="" />	
							<div class="mask"></div>
							<h4>Дэн Финк</h4>
						</a>	
						<a class="fancybox-effects-d" href="{% static 'images/gallery/8.jpg' %}" title="">
							<div class="fancybox-button">&#xf106;</div>
						</a>			
					</li>		
				</ul>
				<div class="clear"></div>
				<div id="link-work">	
					<div class="container">
						<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
							<h6>Готовы начать разговор?</h6>
							<div class="cl-effect-5"><a class="scroll" href="#contact"><span data-hover="contact us">связаться</span></a></div>
						</div>
					</div>		
				</div>	
			</div>				


			<div id="sep2">	
				<div class="just_pattern"></div>
				<div class="parallax2"></div>	
				<div class="container z-index">
					<div class="four columns">
						<div class="facts-wrap">
							<div class="facts-wrap-num"><span class="counter">87</span></div>
							<h5>Клиенты</h5> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-wrap">
							<div class="facts-wrap-num"><span class="counter">25</span></div>
							<h5>Награды</h5> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-wrap">
							<div class="facts-wrap-num"><span class="counter">68</span></div>
							<h5>Проекты</h5> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-wrap">
							<div class="facts-wrap-num"><span class="counter">46</span></div>
							<h5>Письма</h5> 
						</div>
					</div>
				</div>						
			</div>



			
			
			<div id="services">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">услуги</div>
							<h1>услуги</h1>
							<p>ПРОСТО ОЗНАКОМЬТЕСЬ СО ВСЕМИ ПРИВЕДЕННЫМИ НИЖЕ ПЕРЕЧНЯМИ УСЛУГ, ЧТОБЫ ПОЛУЧИТЬ ОБЩЕЕ ПРЕДСТАВЛЕНИЕ О ТОМ, ЧТО МЫ СПОСОБНЫ ПРЕДОСТАВИТЬ.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-brush"></span>
							<h5>Креативный дизайн</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-phone"></span>
							<h5>Адаптивный дизайн</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-message"></span>
							<h5>Отличная поддержка</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-clock"></span>
							<h5>быстрая поддержка</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-email"></span>
							<h5>Контактная форма</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
						<div class="services-offer">
							<span class="svg-icon flat-filled" id="filled-heart"></span>
							<h5>Сделано с любовью</h5>
							<p>С подачи союзников и большим толчком.</p>
						</div>
					</div>
				</div>			
			</div>

			<div id="plans">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">наши планы</div>
							<h1>наши планы</h1>
							<p>ВЫ МОЖЕТЕ НАСТРОИТЬ СВОЮ ТАБЛИЦУ ЦЕН С ПОМОЩЬЮ СИСТЕМЫ СЕТКА, ЧТОБЫ ОНА БЫЛА АДАПТИРОВАНА ДЛЯ НЕБОЛЬШИХ УСТРОЙСТВ.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
						<div class="plans-offer">
							<h3>$9.99<span> – месяц</span></h3>
							<h6>Стандарт</h6>
							<p><strong>24/7</strong> ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</p>
							<p><strong>15</strong> ПРОЕКТЫ</p>
							<p><strong>5GB</strong> МЕСТО ХРАНЕНИЯ</p>
							<p>НЕОГРАНИЧЕННОЕ КОЛИЧЕСТВО ПОЛЬЗОВАТЕЛЕЙ</p>
							<div class="cl-effect-5"><a href="#"><span data-hover="sing up">регистрация</span></a></div>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
						<div class="plans-offer-gold">
							<h3>$17.99<span> – месяц</span></h3>
							<h6>Золото</h6>
							<p><strong>24/7</strong> ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</p>
							<p><strong>25</strong> ПРОЕКТЫ</p>
							<p><strong>15GB</strong> МЕСТО ХРАНЕНИЯ</p>
							<p>НЕОГРАНИЧЕННОЕ КОЛИЧЕСТВО ПОЛЬЗОВАТЕЛЕЙ</p>
							<div class="cl-effect-5"><a href="#"><span data-hover="sing up">регистрация</span></a></div>
						</div>
					</div>
					<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
						<div class="plans-offer">
							<h3>$34.99<span> – месяц</span></h3>
							<h6>Премиум</h6>
							<p><strong>24/7</strong> ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</p>
							<p><strong>100</strong> ПРОЕКТЫ</p>
							<p><strong>50GB</strong> МЕСТО ХРАНЕНИЯ</p>
							<p>НЕОГРАНИЧЕННОЕ КОЛИЧЕСТВО ПОЛЬЗОВАТЕЛЕЙ</p>
							<div class="cl-effect-5"><a href="#"><span data-hover="sing up">регистрация</span></a></div>
						</div>
					</div>
				</div>	
			</div>

			<div id="logos">
				<div class="container">	
					<div class="sixteen columns">
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/1.png' %}" alt="" />	
						</div>
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/2.png' %}" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/3.png' %}" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/4.png' %}" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/5.png' %}" alt="" />	
						</div>	
						<div class="logos-wrap">
							<img  src="{% static 'images/logos/2.png' %}" alt="" />	
						</div>		
					</div>
				</div>		
			</div>		


			<div id="blog">	
				<div class="just_pattern"></div>
				<div class="parallax1"></div>
				<div class="container z-index">	
					{% for blogs in blog %}
					<div class="one-third column">
						<div class="blog-post">
							<img src="{{ blogs.image.url }}" alt="" />
							<h5>{{ blogs.title }}</h5>
							<p>{{ blogs.description }}</p>
							<p><span>{{ blogs.date }}</span><span>{{ blogs.comment }}</span></p>
						</div>
					</div>
					{% endfor %}	
				</div>		
			</div>
						
			
			
			
			
			
			
			<div id="contact">	
				<div class="container">
					<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
						<div class="header-text">
							<div class="header-shadow-text">контакт</div>
							<h1>контакт</h1>
							<p>Мы создаем наилучшие возможности для вашего бизнеса.</p>
						</div>
					</div>
				</div>
				<div class="container">	
					<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
						<div class="four columns">
							<label for="name">Ваше имя: *
								<span class="error" id="err-name">Пожалуйста, Введите имя</span>
							</label>
							<input name="name" id="name" type="text" />
						</div>
						<div class="four columns">
							<label for="email">Электронная почта: * 
								<span class="error" id="err-email">Пожалуйста, Введите адрес электронной почты</span>
								<span class="error" id="err-emailvld">e-mail is not a valid format</span>
							</label>
							<input name="email" id="email" type="text" />
						</div>
						<div class="five columns">
							<label for="message">Расскажи Нам Все:</label>
							<textarea name="message" id="message"></textarea>
						</div>
						<div class="three columns">
							<div id="button-con"><button class="send_message" id="send">Представить</button></div>
						</div>
						<div class="clear"></div>	
						<div class="error text-align-center" id="err-form">Возникла проблема с проверкой формы, пожалуйста, проверьте!</div>
						<div class="error text-align-center" id="err-timedout">Время ожидания подключения к серверу истекло!</div>
						<div class="error" id="err-state"></div>
					</form>	
					<div class="clear"></div>
					<div id="ajaxsuccess">Успешно отправлено!!</div>	
					<div class="clear"></div>
					<div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
						<div class="contact-wrap">
							<p><i class="icon-contact1">&#xf095;</i><span>позвоните нам:</span> (381) 267-6386 <small><em>Понедельник–пятница | 9 утра–5 вечера (GMT +1)</em></small></p>
						</div>
					</div>
					<div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">	
						<div class="contact-wrap">
							<p><i class="icon-contact1">&#xf041;</i><span>Приходите к нам:</span> Первая улица, Санрайз-авеню, Нью-Йорк, США</p>	
						</div>
					</div>	
					<div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">	
						<a class="button-map close-map"><span>Найдите нас на карте</span></a>
					</div>
				</div>
				<div id="google_map"></div>				
			</div>
			


			
			<div id="footer">
				<a class="scroll" href="#home"><div class="back-top">&#xf102;</div></a>	
				<div class="container">
					<div class="sixteen columns">
						<p>Сделано с помощью<i class="icon-footer">&#xf004;</i>и<i class="icon-footer">&#xf0f4;</i>в Сербии</p>
						<p><small>Шаблон: Ananke от ig design</small></p>
					</div>
				</div>	
			</div>












	
   


	
	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>	 
<script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
<script type="text/javascript">
(function($) { "use strict";
            Royal_Preloader.config({
                mode:           'text', // 'number', "text" or "logo"
                text:           'bmw',
                timeout:        0,
                showInfo:       true,
                opacity:        1,
                background:     ['#FFFFFF']
            });
})(jQuery);
</script>
<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cbpAnimatedHeader.min.js' %}"></script>
<script type="text/javascript">
(function($) { "use strict";
   var pos = 0;

    window.setInterval(function(){
      pos++;
      document.getElementsByClassName('parallax-home')[0].style.backgroundPosition = pos + "px 0px";
    }, 40);
})(jQuery);
</script>
<script type="text/javascript" src="{% static 'js/retina-1.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/flippy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tiltSlider.js' %}"></script>
<script>
(function($) { "use strict";
	new TiltSlider( document.getElementById( 'slideshow' ) );
})(jQuery);
</script>
<script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.localscroll-1.2.7-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.scrollTo-1.4.2-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/svg_inject_flat_icons_filled.js' %}"></script><!--Inject SVG and Toggle CSS Styles-->
<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template.js' %}"></script>  	  
<!-- End Document
================================================== -->
</body>
</html>